<#macro script_import>
</#macro> 
<#macro script>
</#macro> 
<#macro css_import>
</#macro> 
<#macro css>
</#macro> 
<#macro layout>
<!DOCTYPE html>
<html>
<head>
  <title>${WEB_TITLE!WEB_NAME!} - ${WEB_SUBTITLE!'欢迎使用JPress'}</title>
  <meta name="keywords" content="${META_KEYWORDS!}">
  <meta name="description" content="${META_DESCRIPTION!}">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="${CTPATH}/assets/css/app.css"/>
  <link rel="stylesheet" href="${CTPATH}/assets/css/luara.left.css"/>
  <link rel="stylesheet" href="${CTPATH}/assets/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="${CTPATH}/assets/mediaelement/mediaelementplayer.css" />
  <@css_import />
  <#if css ??>
  	<style type="text/css">
  	<@css />
  	</style>
  </#if>
</head>
<body class="blog-body">
<header class="x-layout-100">
  <!-- -->
  <div class="x-layout-100 jblog-link-logo">
    <div class="jblog-link-logo-content">
      <div class="jblog-link-logo-image"><a href="${CPATH}/" title="${WEB_NAME!}"><img src="${CPATH}${TPATH+'/assets/images/adworld_logo.jpg'}"/></a></div>
      <!--div class="jblog-link-logo-adv">
	      <a href="${OPTION('jpblog_banner_url')!'#'}">
	      	<img src="${CPATH}${OPTION('jpblog_banner_image')!TPATH+'/assets/images/banner.jpg'}"/>
	      </a>
      </div-->
      <div class="jblog-link-logo-adv">
	      <form action="${CPATH}/s">
			<div class="x-white-box-noborder ">
					搜索产品 <input class="x-box-border" name="k" value="${keyword!}" placeholder="请输入关键字" />
					<button type="submit" class="x-search-btn">搜索</button>
			</div>
		</form>
      </div>
    </div>
  </div>
  <!-- -->
  <div class="jblog-nav">
    <div class="jblog-nav-content">
      <ul>
      	<li><a href="${CPATH}/">首页
      	<#if "/" == REQUEST.requestURI!>
      	<span class="x-a-border"></span>
      	</#if>
      	</a>
      	</li>
      	<@jp.menus>
        	<#list menus as menu>
        		<li class="mainMenuItem">
	        		<a href="#menu_${menu.id!}">
		        		${menu.title!}
		        		<#if menu.isActive() >
		        			<span class="x-a-border"></span>
		        		</#if>
	        		</a>
	        		<#if menu.childList.size() gt 0 >
	        			<ul class="submenu">
	        				<#list menu.childList as subMenu>
	        					<li>
	        						<a href="#menu_${menu.id!}">
	        							${subMenu.title!}
	        						</a>
	        					</li>
	        				</#list>
	        			</ul>
	        		</#if>
        		</li>
        	</#list>
        </@jp.menus>
      </ul>
    </div>
  </div>
</header>
<#nested> 
<footer class="footer x-sm-footer">
  <p>${OPTION('web_copyright')!'暂未填写版权信息'}</p>
</footer>
<div style="display: none;">
${OPTION('jpblog_statistical_code')!}
</div>
<@script_import />
  <script src="${CTPATH}/assets/js/jquery-2.1.1.min.js"></script>
  <script src="${CTPATH}/assets/js/jquery.luara.0.0.1.min.js"></script>
  <script type="text/javascript" src="${CTPATH}/assets/js/app.js"></script>
  <script src="${CTPATH}/assets/mediaelement/mediaelement-and-player.min.js"></script>
<script type="text/javascript">
<@script />
</script>
</body>
</html>
</#macro>